$color-title-bg: rgb(255, 255, 255);
$color-title-fg: black;
$color-primary:#0a00ff;
$color-primary-personality:#ff0077;
$color-primary-newsitem:#ffa600;
$color-primary-product: #00ff88;
$color-primary-game:red;
$color-primary-genre:blue;
$color-primary-character: yellow;
$color-primary-platform: white;
$color-primary-button: white;
$color-background-soft:#f0f0f0;