@import '../styles/colors';

.character {
  .mainpicture {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 40px;
    margin-left: 80px;
  }

  .short {
    font-weight: 800;
  }
  .age {
  }
  .playable {
  }
  .genrelist {
    display: flex;
    margin-bottom: 40px;

    .genre {
      padding: 5px 20px;
      background-color: #f0f0f0;
      max-width: 100px;
      margin-right: 10px;
      font-weight: 700;
    }
  }

  .peoplesegment {
    margin-top:40px;
    .title {

      font-size: 1.4em;
      font-weight: 800;
      margin-bottom: 20px;

    }
    .content {}
  }
  .relatedcharacters{
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 0px;

  }
  .title {}
  .links{

  }
  .role {
    width: 100px;
    height: 0px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 7%;
    margin-left: 100%;
  } 
  .gender {
    width: 100px;
    height: 0px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 0%;
    margin-left: 100%;
  } 
  .rolesname {
    width: 100px;
    height: 0px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 0px;
    margin-left: 88%;
  } 
  .gendersname {
    width: 80px;
    height: 10px;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.6%;
    margin-left: 48%;
  } 
  .Summary {
  }

  .synopsis {}

  .introduction {}

  .main_poster {
    img {}
  }

  .writers {
    .writer {}
  }

  .directors {
    .director {}
  }

  .stars {
    .star {}
  }

  .genres {
    .genre {}
  }

  .picture {
        width: 75%;
        height: 500PX;
        background-size: cover;
        background-position: center;
        box-shadow: inset 0 0 0px 5px #000;
        margin-bottom: 40px;
        margin-left: 150px;
    }
  .trailers {
    .trailer {}
  }
  .navlink{}
}