@import '../styles/colors';

.game {
  .mainpicture {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 0px;
    margin-left: 30%;
  }
  .minimumage {margin-left:110%
  }
  .videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px;
  }
  .trailer {

    background-size: cover;
    background-position: center;
    margin-top:1%;
    margin-bottom: 0px;
    margin-left: 16%;
  } 

  .short {
    font-weight: 800;
  }

  .genrelist {
    display: flex;
    margin-bottom: 40px;

    .genre {
      padding: 5px 20px;
      background-color: #f0f0f0;
      max-width: 100px;
      margin-right: 10px;
      font-weight: 700;
    }

  }

  .peoplesegment {
    margin-top:0px;
    .title {
      font-size: 1.4em;
      font-weight: 800;
      margin-bottom: 0px;

    }
    .content {}
  }
  .platforms {.platform{
    width: 10%;
    height: 10%;
    background-size: right;
    background-position: right;
    margin-bottom: 0px;
    margin-left: 60%;}
  } 


  .title {
  } 
  .videowrapper iframe{
    position: relative;
    padding-bottom: 0%;
    padding-top: 0px;
    height:400px;
    width:100%;
  }
  .links{

  }
  .Summary {
  }

  .synopsis {}

  .introduction {}

  .main_poster {
    img {}
  }

  .writers {
    .writer {}
  }

  .directors {
    .director {}
  }

  .stars {
    .star {}
  }

  .genres {
    .genre {}
  }

  // .pictures {
  //       width: 25%;
  //       height: 250PX;
  //       background-size: cover;
  //       background-position: center;
  //       box-shadow: inset 0 0 0px 5px #000;
  //       margin-bottom: 40px;
  //       margin-left: 0px;
  //   }
  .pictures {
    .picture {}
  }
  .trailers {
    .trailer {}
  }
  .navlink{}
}
.date{ 
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;  
}
